objective-vcdiff-ios.xcodeproj/*.pbxuser
objective-vcdiff-ios.xcodeproj/*.perspectivev3
build
open-vcdiff-0.8.1/Makefile
open-vcdiff-0.8.1/.deps
open-vcdiff-0.8.1/libtool
open-vcdiff-0.8.1/config.log
open-vcdiff-0.8.1/config.status
open-vcdiff-0.8.1/src/stamp-h1
open-vcdiff-0.8.1/src/config.h
